[include]
  path = ~/.local_conf/.gitconfig
  path = ~/.config/git/draculatheme.gitconfig
[core]
  editor = nvim
  excludesfile = ~/.config/git/gitignore_global
[color]
  ui = true
[alias]
  a = add
  b = branch
  c = commit
  ca = commit -a
  cm = commit -m
  co = checkout
  cob = checkout -b
  col = "!git checkout $(git reflog | grep -i \"checkout: moving\" | head -n1 | cut -d ' ' -f6)"
  ml = "!git merge $(git reflog | grep -i \"checkout: moving\" | head -n1 | cut -d ' ' -f6)"
  cleanup = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d"
  s = status
  amend = commit --amend -c HEAD
  gzip = !git archive HEAD | gzip > $PWD.tar.gz
  files = show --pretty="format:" --name-only
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  last = log -1 HEAD --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  staged = diff --cached
  squash = rebase -i
  undo = reset --soft HEAD^
  unstage = reset HEAD --
  unstaged = diff

[credential]
  helper = cache --timeout=604800

[push]
  default = simple
  autoSetupRemote = true

[web]
  browser = google-chrome

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
