[include]
  path = ~/.gitconfig_user
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[alias]
  a = add
  b = branch
  c = commit
  ca = commit -a
  cm = commit -m
  co = checkout
  cob = checkout -b
  col = "!git checkout $(git reflog | grep -i \"checkout: moving\" | head -n1 | cut -d ' ' -f6)"
  ml = "!git merge $(git reflog | grep -i \"checkout: moving\" | head -n1 | cut -d ' ' -f6)"
  cleanup = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d"
  s = status
  p = "!f() { (CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD); \
    ORIGIN_BRANCH=sg/${1:-$CURRENT_BRANCH}; \
    git push origin $CURRENT_BRANCH:$ORIGIN_BRANCH) }; \
    f"
  amend = commit --amend -c HEAD
  gzip = !git archive HEAD | gzip > $PWD.tar.gz
  files = show --pretty="format:" --name-only
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  last = log -1 HEAD --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  staged = diff --cached
  squash = rebase -i
  undo = reset --soft HEAD^
  unstage = reset HEAD --
  unstaged = diff
[credential]
  helper = cache --timeout=604800
[difftool]
  prompt = false
[push]
  default = simple
[color "status"]
  ; added = yellow
  ; changed = green
  untracked = cyan
[color "branch"]
  current = white reverse
  local = white
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions
[web]
	browser = google-chrome
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Nikola Taushanov
	email = nikola@leanplum.com
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
